@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

:root {
    --body-color: #070A29;
    --gradient-color: linear-gradient(264.28deg, #dec7ff 38.2%, #5c27ff 103.12%, rgba(225, 225, 225, 0.1));
    --white-color: #fff;
    --black-color: #000;
    --prim-color: #5c27ff;
    --light-border: rgba(131, 131, 131, 0.2);
    --light-text: #CDCED4;

    --kaushan-font: 'Kaushan Script', cursive;

    --transition: .3s;
    --transition2: .6s;
}

img {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    padding: 5% 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--body-color);
    overflow-x: hidden;
    color: var(--white-color);
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
}

.logo a {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--kaushan-font);
    color: var(--white-color);
    background: var(--gradient-color);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.logo a span {
    font-family: var(--kaushan-font);
}


.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}


.menu li a {
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.menu li a:hover {
    color: var(--prim-color);
    transition: var(--transition);
}

.nav_btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_btns i {
    font-size: 1.3rem;
    color: var(--white-color);
}

.nav_btns i:hover {
    color: var(--prim-color);
    transition: var(--transition);
    cursor: pointer;

}

button {
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: 500;
    background: var(--gradient-color);
    color: var(--white-color);
    background-size: 200% 200%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: var(--transition);

}

button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 105%;
    border-radius: 5px;
    border: 1px solid var(--light-border);
    background: linear-gradient(89., rgba(225, 225, 225, 0.05) 0.03%, rgba(225, 225, 225, 0.08%) 49.67%, rgba(225, 225, 225, 0.05) 99.96%)
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, rgba(225, 225, 225, 0.13) 0px, rgba(225, 225, 225, 0.13) 77%, rgba(225, 225, 225, 0.5) 92%, rgba(225, 225, 225, 0));
    background-size: 150% 150%;
    transition: var(--transition2);
}

button:hover::before {
    width: 100%;
}

.bars {
    display: none;
    font-size: 1.8rem;
    color: var(--white-color);
    cursor: pointer;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 5% 12%;
    position: relative;
    z-index: 5;
}

.hero_shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 46%, rgba(92, 39, 255, 0.3) 100%);
    z-index: -1;
}

.hero_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.hero_content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: var(--kaushan-font);
    color: var(--white-color);
}

.hero_content h1 span {
    font-family: var(--kaushan-font);
    background: var(--gradient-color);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero_content p {
    font-size: 1.1rem;
    color: var(--light-text);
    margin-bottom: 20px;
}

.hero_content button {
    width: 250px;
}

.brandSwiper {
    width: 100%;
    margin-top: 50px;
}

.swiper-slide {
    width: auto !important;
}

.brandSwiper .swiper-slide img {
    width: 100px;
    height: 40px;
    object-fit: contain;
    filter: brightness(40%);
}

.brandSwiper .swiper-slide:hover img {
    filter: brightness(100%);
    transition: var(--transition);
    cursor: pointer;
}

.hero_img {
    width: 40%;
    position: relative;
}

.hero_img img {
    width: 100%;
    border-radius: 100px;
}

.hero_img:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.1);
}

.hero_img::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.1);
}

.img_box {
    position: absolute;
    top: 10%;
    left: 80%;
    padding: 20px;
    width: 220px;
    border-radius: 20px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    gap: 10px;
    animation: Anim_LR 5s infinite linear;
}

.img_box img {
    width: 60px;
    height: 60px;
}

.box_info {
    display: flex;
    flex-direction: column;
}

.box_info h2 {
    color: var(--black-color);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--kaushan-font);
}

.box_info h5 {
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 500;
}

.img_box2 {
    width: 300px;
    top: 80%;
    left: -20%;
    animation: Anim_TB 5s infinite linear;
}

/* ABOUT SECTION */

.about {
    gap: 50px;
    position: relative;
}

.about_imgs {
    width: 40%;
    z-index: 1;
}



.about_imgs img {
    width: 80%;
    object-fit: contain;
    border-radius: 100px;
}

.about_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.headings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0;
}

.headings h2 {
    padding: 0 15px;
    border: 1px solid var(--light-border);
    border-radius: 50px;
    position: relative;
    background: var(--gradient-color);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font: 1.5rem;
}

.headings h2 :after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(89., rgba(225, 225, 225, 0.05) 0.03%, rgba(225, 225, 225, 0.08%) 49.67%, rgba(225, 225, 225, 0.05) 99.96%);
    border-radius: 50px;
}

.headings h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-family: var(--kaushan-font);
}

.about_content p {
    font-size: 1.1rem;
    color: var(--light-text);
    line-height: 1.8rem;
}

.about_content button {
    margin-top: 20px;
}

/* ANIMATION */

@keyframes Anim_LR {
    0% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50px);
    }

}

@keyframes Anim_TB {
    0% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50px);
    }

}

@keyframes Anim_mini_TB {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }

}

/* RESPONSIVE CSS: MQ SECTION */

@media (max-width:1200px) {
    .hero_content h1 {
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .img_box {
        left: 55%;
    }

    .img_box2 {
        left: -10%;
    }

    .hero_content p {
        font-size: 1rem;
        margin: 5px 0;
    }
}

@media (max-width:900px) {
    .bars {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid var(--light-border);
    }

    nav {
        position: relative;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: -100%;
        opacity: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 1% 12%;
        width: 100%;
        border: 1px solid var(--light-border);
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        z-index: 999;
        transition: var(--transition2);
    }

    .nav_btns i {
        display: none;
    }

    .menu li {
        padding: 10px 0;
    }

    .show-menu {
        left: 0;
        opacity: 1;
    }

    header {
        flex-direction: column;
        gap: 50px;
    }

    .hero_content {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .hero_img {
        width: 70%;
    }

    .hero_content h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media (max-width:500px) {
    .nav_btns {
        display: none;

    }

    .hero_content p {
        width: 100%;
    }

    .img_box {
        left: 40%;
        top: -5%;
    }

    .img_box2 {
        top: 80%;
        left: -7%;
    }

    .hero_img {
        width: 100%;
    }

    .hero_img:after {
        transform: translate(-50%, -50%) rotate(14deg);
    }

    .hero_img::before {
        transform: translate(-50%, -50%) rotate(-14deg);
    }
}